build/
logs/
dev/
dev-bck/
bin/
dist/
out/
bin-groovy/
.svn/
.metadata/
.idea/
*.class
*.bak
*.log
*.ipr
*.iws
*.iml
*.ids
*.classpath
*.project
*.war
Thumbs.db
.idea
.project
environmentLocator.properties
