<html>
<body>
<br>
<a href="${context.userLink}" title="${context.customerName}">${context.customerName}</a> reported a ${context.post.postType} titled <a href="${context.postLink}" title='${context.postTitleTrimmed}'>"${context.postTitleTrimmed}"</a> .<br>
<br>
${context.post.content}<br>
<br>
<a href="${context.postLink}" title="view this feedback">view this feedback</a> | <a href="${context.postLink}" title="reply to this feedback">reply to this feedback</a> | <a href="${context.userProfileLink}" title="turn off notification">turn off notification</a><br>
<br>
<font size=1><font color=#666666>Copyright © 2010 UserRules.com</font></font><br>
<br>
</body>

</html>