<html>
<body>
<br>
Hi ${context.user.fullName},
<br><br>
You recently requested a new password.
<br>
Here is your new password, which you can enter on the login page: ${context.adminLoginUrl}
<br>
${context.password}

<br><br>
Please note that this email has been sent to the contact emails associated with your account. If you did not reset your password, please disregard this message.
<br><br>
Thanks,<br>
The UserRules.com Team<br>
<br>
<br>
<font size=1><font color=#666666>Copyright © 2010 UserRules.com</font></font><br>
<br>
</body>


</html>